---
import { SupabaseService } from "../libs/SupabaseService";
import type { Painting } from "../types";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import PaintingModal from "../components/PaintingModal.astro";

export async function getStaticPaths() {
    const gallery = await SupabaseService.select<Painting>('paintings');

    return gallery.map(painting => ({ params: { slug: painting.slug } }));
}

const { slug } = Astro.params;

const data = await SupabaseService.selectBySlug<Painting>(slug ?? '', 'paintings', '*');

const painting = data[0];
---

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sectionImage = document.querySelector<HTMLImageElement>('.section-image');
        const modalContainer = document.querySelector<HTMLElement>('.modal-container');

        sectionImage?.addEventListener('click', () => {
            if (modalContainer != null) {
                modalContainer.classList.add('flex');
                modalContainer.classList.remove('hidden');
            }
        })

        modalContainer?.addEventListener('click', (e) => {
            if(e.target === modalContainer) {
                modalContainer.classList.add('hidden');
                modalContainer.classList.remove('flex');
            }
        });
    });
</script>

<Layout title={`Gaby Guillén - ${painting.title}`}>
    <PaintingModal img={painting.image_url} />
    <section class='content-section bg-[#ebecf0] px-[15vw] lg:px[10vw] xl:px-[15vw] py-5 lg:py-0'>
        <div class="flex flex-col items-center justify-center py-8 gap-y-[4dvh] lg:grid lg:grid-cols-2 place-items-center sm:py-16'">
            <img class="section-image max-h-[35dvh] lg:max-h-[80dvh] lg:max-w-[400px] rounded-md shadow-lg md:shadow-2xl cursor-pointer" src={painting.image_url} alt="dashboard">
            <div class="flex flex-col items-center md:items-start gap-y-[3dvh] md:gap-y-4">
                <h2 class="text-3xl text-center lg:text-4xl tracking-tight font-extrabold text-gray-900">{painting.title}</h2>
                <p class="font-light text-sm lg:text-lg text-center lg:text-start text-gray-600">{painting.description}</p>
                <p class="font-light text-sm lg:text-lg text-center lg:text-start text-gray-600">Colección: <span class="font-bold">{painting.collection}</span></p>
                <p class="font-light text-sm lg:text-lg text-center lg:text-start text-gray-600">Precio: <span class="font-bold">{painting.price}€</span></p>
            </div>
        </div>
    </section>
</Layout>