---
import { Image } from 'astro:assets';
import type { Painting } from '../types';

interface Props {
    gallery: Painting[];
}

const { gallery } = Astro.props;

const paintings = [...gallery].filter(painting => painting.is_top);

const sortedPaintings = paintings.sort(() => 0.5 - Math.random()).slice(0, 8);
---

<section id='top-section' class="content-section bg-[#ebecf0]">
    <div class="mx-auto px-5 py-16 sm:px-6 sm:py-18 lg:px-8">
        <h2 class="sr-only">Cuadros</h2>
        <div class="max-h-[90dvh] grid gap-x-16 gap-y-5 md:gap-y-10 grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
            {sortedPaintings?.map(({slug, image_url, title, price}) => (
                <a href={'/' + slug} class="group flex flex-col items-center md:items-start">
                    <div class="rounded-md bg-gray-200">
                        <Image transition:name={`section-image-${slug}`} width={140} height={140} src={image_url} alt={title} class="w-[12.5dvh] h-[12.5dvh] md:w-[18dvh] md:h-[22dvh] xl:h-[34dvh] xl:w-[26dvh] object-cover object-center group-hover:opacity-75 rounded-md">
                    </div>
                    <h3 transition:name={`section-title-${slug}`} class="font-semibold mt-2 xl:mt-4 text-md md:text-2xl text-gray-800">{title}</h3>
                </a>
            ))}
        </div>
    </div>
</section>